@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-size: 150%;
    background: linear-gradient(68.15deg, #5d5263d8 16.62%, #403557e3 85.61%);
}

.container{
    display: block;
    margin: 25%;
    margin-top: 3%;
    padding: 0%;
}


h1{
    text-align: center;
    font-size: 30px;
}

.cabecalho_menu{

    display: flex;
}


table {
	border-collapse: collapse;
	width: 100%;

}

td {
	padding: 5px;
	text-align: center;
	border: 1px solid;
	font-size: 18px;
	border-color: red;

}

th {
	padding: 5px;
	text-align: center;
	border: 1px solid;
	font-size: 18px;
	border-color: red;
	background-color: rgba(119, 119, 119, 0.212)
}

tr:hover {
	background-color: rgba(216, 204, 204, 0.671)
}

input {
	width: 700px;
	margin: 8px;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 4px;
	font-size: 20px;
    text-align: center;


}

button {
	background-color: white;
	color: black;
	border: 2px solid #555555;
	padding: 6px 50px;
	border: 2px solid red;
	margin: 2px 0;
	border-radius: 4px;
	font-size: 20px;
    align-items: center;


}

button:hover {
	background-color: rgba(77, 76, 76, 0.671);
	color: white;
   
}

hr {
	border-color: goldenrod;
	border-style: dashed;

}

select {
	color: darkblue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	border: 1px solid red;
	border-radius: 5px;
	width: 200px;
	margin: 8px;

}

#Bloqueio{
    font-size: 200%;
    text-align: center;
}
